.msg-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.msg-send {
    border-color: #ccc;
    background-color: #ddd;
	width: 80%;
	float: right;
}

.msg-receive {
    width: 80%;
	float: left;
}

.msg-container::after {
    content: "";
    clear: both;
    display: table;
}

.msg-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.msg-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.msg-time-right {
    float: right;
    color: #aaa;
}

.msg-time-left {
    float: left;
    color: #999;
}